.loading {
    align-self: center;
}

.poster {
    max-width: 500px;
    margin: 20px;
    height: auto;
    border-radius: 5px;
}

.card-title {
    margin-top: 30px;
}

.description {
    margin-left: 25px;
}